.nav-bar{
  display: flex;
  gap: 5px;
  height: 10vh;
  padding: 10px;
}
.sing-up-btu {
  all: unset;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
  width: fit-content;
  color: #352dd6;
  right: -5%;
  background-color:seashell;
  border: solid 1px black;
  padding: 5px;
  height: 30px;
}
