.nav-bar {
  display: flex;
  gap: 5px;
  height: 4vh;
  padding: 10px;
  background-color: rgb(215, 225, 250);
  align-items: center;
  justify-content: space-around;
  border-bottom: antiquewhite solid ;
}
.sing-up-btu {
  all: unset;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
  width: fit-content;
  color: #23222b;
  right: -5%;
  background-color: white;
  border: solid 1px black;
  padding: 5px;
  height: 20px;
}

.sing-up-btu:hover {
  background-color:  #c03bda;
  color: #ffffff;
}
