.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 52px;
  border-bottom: 0.5px solid #000000;
  outline: none;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #979797;
  letter-spacing: 1.97px;
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
  color: #979797;
  letter-spacing: 1.97px;
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 5px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  letter-spacing: 1.97px;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
