.add-code-sheets-form {
  background: #2d2b52;
  z-index: 2;
  position: absolute;
  width: 576px;
  height: 1115px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 0px 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 576px;

  border-radius: 18px;
}
.modal-overlay {
  background: rgba(19, 18, 52, 0.57);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.close-modal-box {
  z-index: 1;
  position: absolute;
  width: 565px;
  height: 635px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.close-modal {
  all: unset;
}
.close-modal-img {
  background-color: rgba(19, 18, 52, 0.57);
  cursor: pointer;
}

.btu-save {
  all: unset;
  cursor: pointer;
  color: aliceblue;
  width: 350px;
  height: 44px;
  background-color: #8471df;
  border-radius: 6px;
  text-align: center;
  padding: 7.00305px;
}
.btu-save:hover {
  background-color: rgb(159, 30, 210);
  font-weight: bold;
}

.btu-cancel {
  all: unset;
  color: aliceblue;
}
.btu-cancel:hover {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  border-bottom: rgb(159, 30, 210) solid 1px;
  color: aliceblue;
}
.add-code-sheets-form .title-modal {
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-left: -190px;
}

/* content-input */
.content-input-text {
  all: unset;
  background-color: transparent;
  color: aliceblue;
  font-size: 16px;
  line-height: 1;
  border: 1px solid aliceblue;
  border-radius: 10px;
  padding: 24px 5px 4px 16px;
  width: 338px;
  height: 154px;
  overflow-y: auto;
}
.content-input-text::placeholder {
  color: aliceblue;
}

.content-input-text::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.content-input-text::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.content-input-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  width: 10px;
}
