.code-block-container {
  background: #2d2b52;
  z-index: 2;
  position: absolute;
  width: 550px;
  height: 550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
}

.modal-overlay {
  background: rgba(19, 18, 52, 0.57);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.close-modal-box {
  z-index: 2;
  position: absolute;
  width: 565px;
  height: 615px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.close-modal-img-code-box {
  background-color: transparent;
  cursor: pointer;
  margin-left: -520px;
}

.code-block-header {
  width: 500px;
  display: flex;
  justify-content: space-around;
  background-color: gray;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.code-block {
  background-color: #f5f5f5;
  padding: 1em;
  overflow-x: auto;
  font-family: monospace;
  width: 500px;
  height: 500px;
  padding: 10px;
  z-index: 1;
}

.code-block-box {
  width: 480px;
  height: 500px;
  background-color: #1e1e1e;
  overflow: hidden;
  color: #f5f5f5;
  padding: 10px;
}

.code-block-header > button {
  all: unset;
  padding: 2px;
  cursor: pointer;
  border: 0.5px solid;
}

.code-block-header > button:hover {
  background-color: rgb(27, 38, 34);
  color: aliceblue;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}

code::-webkit-scrollbar {
  display: none;
}
.code-block-titel{
  color: aliceblue;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 15px;
  word-wrap: break-word;
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  white-space: normal;
}
.code-block-codeType-titel {
  font-size: larger;
  font-weight: bold;
}
.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-size: larger;
}
.description-box {
  all: unset;
  background-color: transparent;
  color: aliceblue;
  font-size: 16px;
  line-height: 1;
  border: 1px solid aliceblue;
  border-radius: 10px;
  padding: 20px 20px 20px;
  width: 450px;
  height: fit-content;
  margin: 5px 0px 20px;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}
