.code-block-container {
  width: 600px;
  height: 600px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.code-block-header {
  width: 490px;
  display: flex;
  justify-content: space-around;
  background-color: gray;
  height: 25px;
  padding: 5px;
}
.code-block {
  background-color: #f5f5f5;
  padding: 1em;
  overflow-x: auto;
  font-family: monospace;
  width: 500px;
  height: 500px;
  padding: 10px;
}

.code-block-box {
  width: 480px;
  height: 500px;
  background-color: #1e1e1e;
  overflow: hidden;
  color: #f5f5f5;
  padding: 10px;
}

.code-block-header > button {
  all: unset;
  padding: 2px;
}

.code-block-header > button:hover {
  background-color: rgb(27, 38, 34);
  color: aliceblue;
  border-radius: 5px;
}
