.subTopicBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  width: 500px;
  height: 59px;
  background-color: #fff;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 1);
  transition: height 0.5s;
  transition-delay: 0s, 0.75s;
}
.navigation.active {
  height: 400px;
}
.headerSubTopic {
  width: 500px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc4c4;
}
.navigation .SubTopic {
  position: relative;
  width: 59px;
  height: 57px;
  background-color: #fff;
}
.navigation .SubTopic .mainSubImg {
  position: relative;
  min-width: 59px;
  height: 57px;
  overflow: hidden;
  background-color: #ccc4c4;
  border-radius: 50%;
  border: 6px solid #fff;
}
.navigation .SubTopic .mainSubImg img {
  position: absolute;
  height: 70%;
  width: 70%;
  object-fit: cover;
  left: 15%;
  top: 15%;
}

.navigation .mainSubTitel {
  width: fit-content;
  font-size: x-large;
}
.navigation .menuToggle {
  position: relative;
  width: 59px;
  height: 58px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .menuToggleBefore {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #555;
  transform: translateY(-10px);
  box-shadow: 0 10px #555;
  transition: 0.5s;
}

.navigation .menuToggleAfter {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #555;
  transform: translateY(10px);
  transition: 0.5s;
}

.navigation.active .menuToggleBefore {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px #555;
}
.navigation.active .menuToggleAfter {
  transform: translateY(0px) rotate(-45deg);
}
