.progressBar {
  width: 80%;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-self: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  max-height: 400px;
  width: 60vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.daysCountDown {
  color: white;
  align-self: flex-end;
  font-size: 2vw;
}

.upperHero {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .daysCountDown {
    font-size: 18px;
  }
}

@media only screen and (max-width: 370px) {
}
