.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.singInCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 116px;
  gap: 40px;
  box-shadow: 5px 5px 10px #000000;
  background-color:slateblue;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info > span {
  letter-spacing: 2.67px;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
}
.info > p {
  font-size: 18px;
  letter-spacing: 1.97px;
  margin: 0;
  margin-top: 8px;
}
.inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.logInForgetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.logInForgetPassword .forgetPass {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.97px;
}
.orDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  width: 85%;
  font-size: 14px;
}
.orDiv > hr {
  width: -webkit-fill-available;
  height: 0px;
  border: 0.2px solid #bdbdb5;
}
.orDiv span {
  font-size: 14px;
  letter-spacing: 1.97px;
  color: #979797;
}
.singUpButtons {
  width: 206px;
  height: 48px;
}
